@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-dark-background: #08100C;
  --color-dark-background-light: #2C2C2C; /* Equivalente a un gris oscuro */
  --color-dark-background-lighter: #1A1A1A; /* Una tonalidad un poco más clara que el fondo principal */
}

html,
body,
#app {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100vh; /* Asegura que el cuerpo ocupe toda la altura de la ventana */
  margin: 0;
  /* overflow: hidden;  Evita el scroll global */
}

@layer base {
  html {
    font-family: system-ui, sans-serif;
  }
  
  body {
    @apply m-0 p-0;
  }

  #app {
    min-height: 100vh;
    min-height: 100dvh;
  }
} 